@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /* Colours */
    --darkBGColour: #1f2937;
    --heroPrimaryTextColour: #f9faf8;
    --heroSecondaryTextColour: #e5e7eb;

    --callToActionBGColour: #3882f6;
    --darkTextColour: #1f2937;

    --quoteSectionBGColour: #e5e7eb;

    /* Font Sizes */
    --heroTextSize: 48px;
    --heroSecondaryTextSize: 18px;
    --headerLogoTextSize: 24px;
    --infoHeaderTextSize: 36px;
    --quoteTextSize: 36px;

    /* Misc Sizes */
    --borderRadius: 6px;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

ul{
    display: flex;
    list-style: none;
    gap: 16px;
}

button{
    background-color: var(--callToActionBGColour);
    color: var(--heroSecondaryTextColour);
    border: none;
    border-radius: var(--borderRadius);
    padding: 3px var(--headerLogoTextSize);
}

.header, .footer{
    background-color: var(--darkBGColour);
    color: var(--heroPrimaryTextColour);
}

.header, .information, .quote, .callToAction{
    padding: 0 15%;
    display: flex;
    justify-content: center;
}

.header{
    flex-direction: column;
}

.top{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.landing{
    display: flex;
    padding: 72px 0;
}

.signup{
    display: flex;
    
}

.landing img{
    object-fit: cover;
    height: 180px;
    width: 75vh;
}

.information{
    justify-content: center;
}

.quote{
    background-color: var(--quoteSectionBGColour);
}

.callToAction{

}

.banner{
    background-color: var(--callToActionBGColour);
}